<html lang="en">
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/get-crud">Home</a></li>
                <li><a href="/get-crud">USER LISTTT</a></li>
                <li><a href="/crud">Create a new user</a></li>
                <li><a href="/crud-food">Add new food</a></li>
                <li><a href="#">Page 3</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <form action="/post-crud-food" method="POST">
                <div class="form-row">
                    <div class="col-12 mt-3"> <b>Create a new food</b></div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Food name</label>
                            <input type="text" class="form-control" name="foodName">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Characteristic</label>
                            <input type="text" class="form-control" name="characteristic">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Category</label>
                            <input type="text" class="form-control" name="categories">
                        </div>
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</body>
</html>